    <div class="navbar fixed-top" role="navigation">
        <div class="container-fluid" >
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"> ~NEWS~</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li style="font-family:'Anton', sans-serif !important; font-weight: 800 !important; font-size: large !important;"><a href="/sources">Sources</a></li>
                    <li style="font-family:'Anton', sans-serif !important; font-weight: 800 !important; font-size: large !important;"><a href="/">Articles</a></li>

                
                </ul>
                </div>

        </div>
    </div>